header{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.welcome{
    color: white;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#Math{
    background-image: url("https://raw.githubusercontent.com/Nat2012/Quiz-Platform-DESIGN/refs/heads/main/Math.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}


#Chemistry{
    background-image: url("https://raw.githubusercontent.com/Nat2012/Quiz-Platform-DESIGN/refs/heads/main/Chemistry.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

#Biology{
    background-image: url("https://raw.githubusercontent.com/Nat2012/Quiz-Platform-DESIGN/refs/heads/main/Biology.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

#Physics{
    background-image: url("https://raw.githubusercontent.com/Nat2012/Quiz-Platform-DESIGN/refs/heads/main/Physics.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

#English{
    background-image: url("https://raw.githubusercontent.com/Nat2012/Quiz-Platform-DESIGN/refs/heads/main/English.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}
